* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#container {
    margin-top: 100px;
    position: relative;
}

canvas {
    border: 2px solid black;
    position: relative;
    margin: auto;
    display: block;
}

/* Jogador Perdeu */
.player-loser {
    background-color: #0000008a;
    position: absolute;
    text-align: center;
    color: #fff;
    display: block;
    top: 2px;
    left: 127px;
    width: 1004px;
    height: 600px;
}

.player-loser h1 {
    padding-top: 20%;
}

/* Jogar de Novo */ 
.play-again {
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    border: 1px solid #fff;
    background-color: #000;
}

.play-again:hover {
    color: #fff;
    background-color: red;
    transition: all .3s ease-in;
}

/* Dialogos */
/* .container-dialogos {
    background-color: #000;
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 50px;
    width: 950px;
    height: 150px;
} */