@charset "UTF-8";

/* Global; ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Cabeçalho; ----------------------------------------------- */

#list-navbar {
  list-style: none;
  padding: 0;
  margin: 40px;
  text-align: center;
  font-family: "Alfa Slab One", cursive;
}

#list-navbar li {
  display: inline;
  font-size: 10px;
  margin: 50px;
}

#list-navbar li a {
  color: #ad6767;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  transition: ease 0.3s all;
  text-align: center;
  font-size: 30px;
}

#list-navbar li a:hover {
  background-color: #fff;
  border-radius: 20px;
  color: red;
}

#btn-menu {
  display: none;
}

@media screen and (max-width: 870px) {
  #btn-menu {
    transition: all 0.3s ease;
    position: absolute;
    right: 40px;
    top: 40px;
    border: none;
    font-weight: bolder;
    display: block;
    font-size: 70px;
    cursor: pointer;
    z-index: 2;
  }

  #navbar {
    transform: translateX(-300%);
    display: none;
  }

  #navbar.none {
    transform: translateX(-300%);
    display: none;
  }

  .active {
    overflow: hidden;
  }

  #navbar.active {
    display: block;
    transform: translateX(-40%);
    animation: menuInside 0.5s ease;
    background: #000;
    padding: 10px;
    width: 120vw;
    height: 120vh;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 0;
  }

  #list-navbar {
    display: block;
    background: none;
    text-align: center;
    margin: 15% 40%;
  }

  #list-navbar li {
    display: block;
    padding: 10px;
    white-space: nowrap;
    font-size: 1.5em;
  }

  #list-navbar li a {
    color: #fff;
  }

  @keyframes menuInside {
    from {
      transform: translateX(-300%);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 470px) {

  #list-navbar li a {
    display: inline-block;
    transition: ease 0.3s all;
    text-align: center;
    font-size: 20px;
  }

  #navbar {
    transform: translateX(-400%);
    display: none;
  }

  #navbar.none {
    transform: translateX(-400%);
    display: none;
  }
}

/* Home Page; ----------------------------------------------- */

#sobre-jogo {
  position: relative;
}

#night {
  position: absolute;
  right: 300px;
  top: 20px;
  font-size: 40px;
  font-style: normal;
  display: block;
  margin: auto;
  cursor: pointer;
  z-index: 2;
}

.backgroud-black {
  background-color: #000;
}

#logo {
  width: 800px;
  margin: 20px auto;
  display: block;
  border-radius: 30%;
  cursor: pointer;
  animation: AnimationLogo 2s infinite ease;
}

@keyframes AnimationLogo {
  from {
    opacity: .5;
  }

  to {
    opacity: 1;
  }
}

#roteiro {
  font-size: 30px;
  font-family: "Alfa Slab One", cursive;
  color: #ad6767;
  text-align: center;
}

#sobre {
  font-family: "Alfa Slab One", cursive;
  color: #ad6767;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

#play-now {
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  font-size: 40px;
  display: block;
  margin: 100px auto;
  animation: changeColor 0.7s infinite ease;
}

#play-now:hover {
  opacity: 0.5;
  transition: ease 0.5s all;
  transform: translateY(-10%);
}

@keyframes changeColor {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fa-bars {
  display: none;
}

@media screen and (max-width: 1440px) {
  #logo {
    max-width: 550px;
  }
}

@media screen and (max-width: 1080px) {
  #night {
    right: 150px;
  }
}

@media screen and (max-width: 870px) {

  #night {
    position: absolute;
    top: -50px;
    right: 80px;
  }

  #logo {
    width: 50%;
    margin-top: 100px;
  }

  #roteiro {
    margin-top: 100px;
    padding: 10px;
  }

  #play-now {
    border: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    opacity: 0.7;
    padding: 10px;
    font-size: 40px;
    display: block;
    margin: 50px auto;
  }

  #play-now:hover {
    opacity: 1;
    transition: ease 0.5s all;
  }
}

@media screen and (max-width: 470px) {
  #logo {
    width: 50%;
    margin-top: 150px;
  }

  #play-now {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 750px;
  }

  #play-now:hover {
    transform: translate(-50%);
  }
}

/* Rodapé ------------------------------------------------------- */

#rodape {
  background-color: #000;
  width: 100%;
  height: 12vh;
  position: absolute;
  display: block;
  bottom: 0;
  transform: translateY(550%);
  margin-bottom: -50px;
}

#rodape h4 {
  text-align: center;
  padding: 15px;
  color: #fff;
}